@model Morador

@*@section Styles{
    <link rel="stylesheet" href="~/css/teste.css" asp-append-version="true" />
}
*@

<form asp-controller="Morador" asp-action="InserirMorador" method="post">

    <div class="mb-3 col-md-2">
        <label class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control">
    </div>
    <div class="mb-3 col-md-2">
        <label class="form-label">Unidade</label>
        <input type="text" asp-for="Unidade" class="form-control">
    </div>
    <div class="mb-3 col-md-2">
        <label class="form-label">Placa do Veículo</label>
        <input type="text" asp-for="PlacaVeiculo" class="form-control">
    </div>
    <div class="mb-3 col-md-2">
        <label class="form-label">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
</form>

