@{
    Layout = "_LayoutLogin";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<h1 class="login3">Faça seu login</h1>

<form class="login" method="post" asp-controller="Login" asp-action="ValidarLogin">
    <div class="col-md-3">
        <label for="inputEmail4" class="form-label">Usuário</label>
        <input type="email" class="form-control" id="inputEmail4" name="email" required>

        <label for="inputPassword4" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword4" name="Senha" required>
    </div>

    <div class="login2">
        @* <button class="btn btn-primary" type="button" asp-controller="Login" asp-action="Index">Entrar</button> *@
        <button class="btn btn-primary" type="submit">Entrar</button>
    </div>
@* 
    @if (!ViewData.ModelState.IsValid)

    {
        <div style="color: red;">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))

            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    } *@
</form>

