<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />



<div class="list">
    <a asp-area="" asp-controller="Morador" asp-action="Index">Moradores</a>
</div>
<div>
    <a button type="submit" class="btn btn-primary" asp-area="" asp-controller="Visitante" asp-action="Index">Visitantes</a>
</div>
