


<div class="list">
    <ul class="order">
        <li class="nav-item">
            <a  asp-area="" asp-controller="Morador" asp-action="Index">Moradores</a>
        </li>
        <li class="nav-item">
            <a  asp-area="" asp-controller="Visitante" asp-action="Index">Visitantes</a>
        </li>
        <li class="nav-item">
        </li>
    </ul>
</div>